<!DOCTYPE html>
<html>
<head>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <style>
        .upfile {
            width: 80%;
            height: 30px;

        }

        .confirmfile {
            background-color: #5bc0de;
            font-size: 15px;
            margin-left: 5%;
        }
        #submit_button {
            border-left: 200px;
        }
    </style>

</head>
<body>

<div class="page-header">
    <h1>新浪新闻文本14分类</h1>
</div>
<div>
    <form action="/submit3/" METHOD="post" id="upload_form">
        <div class="div-a">
            <textarea name="news_content" cols="100" rows="15" placeholder="新闻内容"></textarea>
            <b></b>
            <div class="div-a-02">
                <button type="submit">提交</button>
{#                <input class="confirmfile" type="submit" id="submit_button" value="确认上传">#}
            </div>
        </div>
    </form>

</div>

<hr>
<div>
    <caption><h3>返回结果</h3></caption>
    <table border="1" cellspacing="0">
        {%for res in result%}
            <h3>{{ res }}</h3>
        {% endfor %}
    </table>

</div>
</body>
</html>
