<!DOCTYPE html>
<html>
<head>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <style>
        .upfile {
            width: 80%;
            height: 30px;

        }

        .confirmfile {
            background-color: #5bc0de;
            font-size: 15px;
            margin-left: 5%;
        }
        #submit_button {
            border-left: 200px;
        }
    </style>

<!--    <script>-->
<!--         $(function (){$('#submit_button').on("click", function () {-->
<!--                var mychar=document.getElementById("submit_button");-->
<!--                // mychar.style.display="none";-->
<!--                $.ajax({-->
<!--                    url: "/submit/",-->
<!--                    type: "POST",-->
<!--                    {#data:form,#}-->
<!--                    data: new FormData($('#upload_form')[0]),    // 获取json的数据格式-->
<!--                    cache: false,-->
<!--                    processData:false,-->
<!--                    contentType: false,-->
<!--                    success: function (arg) {-->
<!--                        alert(result)-->
<!--                    }-->
<!--                })-->
<!--            })});-->
<!--    </script>-->
</head>
<body>

<div class="page-header">
    <h1>对文本内容进行依存分析</h1>
</div>
<div>
    <form action="/submit" METHOD="post" id="upload_form">
        <div>
            <p>新闻内容：<input class="upfile" type="text" name="news_content" placeholder="新闻内容"></p>
        </div>
        <!--<input class="confirmfile" type="button" id="submit_button" value="确认上传">-->
        <input class="confirmfile" type="submit" id="submit_button" value="确认上传">
    </form>

</div>

<hr>
<div>
    <caption><h3>返回结果</h3></caption>
    <table border="1" cellspacing="0">
        <tr style="color: #2e59d9" align="center">
            <td>人物</td>
            <td>动词</td>
            <td>言论</td>
        </tr>
        {%for res in result%}
          <tr align="center">
          {%for re in res%}
            <td>{{ re }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>
